@page
@model qs_csharp.Pages.EnvRecipeModel
@{
    ViewData["Title"] = "ListEnvelopesRecipients";
}

<h4 style="margin-top:3em;">List Envelopes Recipients</h4>

<p><code><pre>@ViewData["EnvelopeRecipients:"]</pre></code></p>

<p><a href="/">Continue</a></p>
